*{
	margin: 0px;
}
body{
	margin: 0px;
	padding: 0px;
	background-image: linear-gradient(white, #3F76BF);
}
nav{
	position: fixed;
	width:100%;
	background-color:#183853;
}

nav ul{
	margin:-2px;
	padding-right: 0px;
}

nav ul li{
	display: inline-block;
	padding: 8px 40px;
}

nav ul li a{
	text-decoration: none;
	color: #3F76BF;
	font: 13px Arial, Helvetica, sans-serif;
	font-weight: bold;
}

nav ul li a:hover{
    color:#3F76BF;
    border-bottom:2.5px #3F76BF dotted;
}
.logo{
        height: 75px;
        float: center;
        margin: 10px 0px;
    }
.fond{
	width: 100%;
}

h1{
	text-align: center;
	margin-top: -120px;
	font-style: italic;
	font-size: 85px;
	color:#DCDCDC;
	margin-bottom: 30px;
	font-family: 'Shadows Into Light', cursive;

}

#slideshow-container{
	position:absolute;
	width: 100%;
	height: 100%;
	top:0;
	left: 0;
	z-index:-10;
	margin: 0 auto;

}

#slideshow{
	width: 100%;
	height: 100%;
	
}

.slideshow-image{
	display: none;

}

.gallery{
	margin: 10px 50px;
	margin-top: 60px;
}

.gallery img{
	transition: 1s;
	padding: 15px;
	width: 200px;
	
}

.gallery img:hover{
	filter: grayscale(100%);
	transform: scale(1.1);
}

p{
	color: #3F76BF;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
	color: #183853;
	text-align: center;
	margin-top: 30px;
}

section{

	margin-top: 1px;
}

table {
	table-layout: fixed;
	border-collapse: collapse;
	border: 3px solid #183853;
	text-align: center;
	margin: auto;
  }

  tr,td{
	border-collapse: collapse;
	border: 3px solid #183853;
  }

  hr{
	  margin: auto;
  }